body {margin: 0; text-align: center;}

.container {
    height: 500px;
    width: 500px;
    overflow-y: auto;
    margin: 1% auto;
    border: 5px solid red;
    padding: 10px;
    box-shadow: 2px 2px 18px 8px rgb(182, 177, 177);
}
h1 {font-family: cursive; color: saddlebrown;}

.card {
    background-color: cyan;
    text-align: center;
    position: relative;
    border-radius: 20px;
    border: 2px solid chocolate;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 1px 1px 8px 4px rgb(182, 177, 177);
}
.card:nth-child(even) {
background-color: rgb(58, 233, 134);
}
button {
    position: absolute;
    border-radius: 20px;
    right: 10px;
    top: 10px;
    padding: 10px 20px;
    font-size: 30px;
    color: cornflowerblue;
    cursor: pointer;
    background-color: rgb(149, 236, 8);
    border: none;
}