body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
}
.div1 {
    width: fit-content;
    background-color: aqua;
    padding: 10px;
    font-weight: bolder;
    width: 250px;
    margin: 10px 0;
}
.div2 {
    background-color: aquamarine;
    padding: 10px;
    font-weight: bold;
    width: 250px;
}
article {
    text-align: center;
    padding: 30px 0;
    font-weight: normal;
}
footer {
    text-align: right;
}